* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem; }
  body .font-weight-300 {
    font-weight: 300; }
  body .font-weight-400 {
    font-weight: 400; }
  body .font-weight-500 {
    font-weight: 500; }
  body .font-weight-600 {
    font-weight: 600; }
  body .font-weight-700 {
    font-weight: 700; }

.share-container__svg {
  border: 0.1rem solid white;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer; }
  @media (hover: hover) {
    .share-container__svg:hover {
      border-color: #e882e8; }
      .share-container__svg:hover .share-container__svg-icon {
        fill: #e882e8; } }
  .share-container__svg-icon {
    fill: white; }
